.home-container {
    margin: 9rem 0 0 5rem;
    h5 {
        color: $primary-text;
    }
    h1 {
        font-size: 6.5vw;
        font-weight: bolder;
        color: $gray-200;
    }
    h2 {
        font-size: 5vw;
        color: $gray-600;
    }
    .home-content {
        margin-top: 1.5rem;
        color: $default-text;
        width: 60%;

        span a {
            color: $primary-text;
            text-decoration: none;
            position: relative;
            transition: all 500ms;
            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $primary-text;
                visibility: hidden;
                transition: all 0.3s ease-in-out;
            }
            &:hover::before {
                visibility: visible;
                width: 100%;
            }
        }
    }
    
    .home-about-btn {
        margin-top: 3rem;
        margin-bottom: 3rem;
        border-radius: 7px;
        padding: 5px 10px 5px 10px;
        border: 2px solid $primary-text;
        width: fit-content;
        a {
            text-decoration: none;
            font-family: 'Quicksand';
            color: $primary-text;
        }
    }
}


@media (max-width: 1024px) {
    .home-container {
        margin: 6rem 0 0 0;
        height: auto;
        h1 {
            font-size: 8vw;
        }
        h2 {
            font-size: 7.25vw;
        }
        .home-content {
            margin-top: 0.75rem;
            width: 100%;
        }
        .home-about-btn {
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
    }
}
