.navbar {
    background-color: $default;
    font-family: 'Quicksand';
    z-index: 10;
    top: -100px;
    position: fixed;
    width: 100%;
    transition: all 300ms;

    &.nav-show {
        top: 0;
        background-color: #121210e8;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
    }
    &.nav-no-shadow {
        background-color: transparent;
        box-shadow: none; 
    }
    
    .nav-brand{
        margin-left: 0.75rem;

        .brand-logo {
            color: $primary-text !important;
        }
    }

    .navbar-toggler {
        border: none;
        transform: rotate(180deg);

        .nav-icon {
            &:before {
                width: 10px;
            }

            & div {
                width: 20px;
            }

            &:after {
                width: 30px;
            }
            
            &:after, 
            &:before, 
            & div {
                background-color: $white;
                border-radius: 4px;
                content: '';
                display: block;
                height: 3px;
                margin: 6px 0;
                transition: transform .2s ease-in-out;
            }
        
            &.active:before {
                width: 30px;
                transform: translateY(11px) rotate(135deg);
            }
            
            &.active:after {
                width: 30px;
                transform: translateY(-7px) rotate(-135deg);
            }
        
            &.active div {
                transform: scale(0);
            }
        }

    }

    .nav-links-container{
        display: flex;
        justify-content: center;
        margin-right: 0.75rem;
        font-size: $nav-size;
        padding: 5px 0 5px 0;

        .nav-link-index {
            color: $primary-text;
            margin-right: 4px;
        }
        .nav-link-label {
            color: $white;
        }
    }

    .nav-link-resume {
        margin-right: 1.75rem;
        color: $primary-text !important;

        .resume-link {
            border-radius: 7px;
            padding: 5px 10px 5px 10px;
            border: 2px solid $primary-text;
        }
    }

}

@media (max-width: 991px) {
    .navbar {
        top: -100%;
        transition: all 500ms;
        background-color: transparent;

        &.nav-show {
            top: 0;
            background-color: #121210e8;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
        }

        .nav-links-container, .nav-link-resume{
            margin: 10px;
            font-size: 22px !important;
        }

        .nav-link-resume {
            display: flex;
            justify-content: center;

            .resume-link {
                margin-left: 30px;
            }
        }
    }
}