.other-projects-container {
    margin-top: $section-top;
    color: $default-text;

    .project-col {
        padding: 0;

        .project {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            border-radius: 5px;
            margin: 1rem 0.5rem 0 0.5rem;
            padding: 1.75rem;
            box-shadow: 0 10px 30px -15px $black;
            background-color: $primary;
            transition: all 100ms;
            height: 95%;
            text-align: center;

            &:hover {
                color: $primary-text;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }

            .top-div {

                & > i {
                    margin-top: 0.5rem;
                    color: $primary-text;
                    font-size: 4.5rem;
                }              
    
                h4 {
                    font-weight: 900;
                    font-family: 'Quicksand';
                    margin-top: 1rem;

                    a {
                        text-decoration: none;
                        color: inherit;
                        // color: $default-text;
                    }
                }
    
                .project-desc {
                    margin-top: 1rem;
                    color: $default-text;
                    font-size: 0.9rem;
                }

                .project-links {
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    top: 0.25rem;
                    left: 1rem;
                    right: 1rem;
                    a {
                        text-decoration: none;
                        color: $default-text;
                        margin: 1rem;
                        font-size: 1.5rem;
    
                        &:hover {
                            color: $primary-text;
                        }
                    }
                }

            }


            .project-tech {

                & label {
                    font-size: 0.75rem;
                    color: $default-text;
                    margin: 1rem 1rem 0 0;
                }
            }
            
        }
    }
}

@media (max-width: 567px) {
    .other-projects-container {
        padding: 0.35rem;
    }
}