@import './variables';
@import './fonts';

* { margin:0; padding:0; box-sizing:border-box; }

body {
    background-color: $default;
    font-family: 'Montserrat';
}

footer {
    font-family: 'Quicksand';
    margin-top: 8rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: small;
    color: $default-text;

    span {
        color: $primary-text;
    }
}

.base {
    max-width: 100%;
}

.base-small {
    position: sticky;
}

@media (max-width: 540px) {
    .base-small {
        display: none
    }
}

@media (max-width: 770px) {
    .base-small {
        .col-container {
        display: none
        }
    }
}

@import './navbar';
@import './home';
@import './sectionHeading';
@import './about';
@import './experience';
@import './projects';
@import './projectsFeatured';
@import './contact';
@import './smallCol';
